<div class="container" id="iconTypeManageDiv">
    <ol class="breadcrumb">
        <li><a href="/admin">Home</a></li>
        <li>iconTypeManage</li>
    </ol>
    <div class="content-main">
        <div class="btn-group">
            <a class="btn btn-primary" href="/admin/#iconTypeAdd" role="button">添加</a>
        </div>
        <div class="form-group">
            <label>类型</label>
            <select class="form-control" id="typeSelect" name="collection">
                <option value="all">全部</option>
                <option value="0">svg</option>
                <option value="1">png</option>
                <option value="2">psd</option>
                <option value="3">zip</option>
            </select>
        </div>
        <div class="form-group">
            <div class="row" id="typeArea">
                <% typeList.forEach(function(data){ %>
                    <div class="col-md-12 icon-box" >
                        <a href="#iconTypeEdit/<%- data.id %>" data-id="<%- data.id %>" data-type="<%- data.fileType %>"><%- data.name %></a>  所属类型: <%- fileModel[data.fileType] %> <a href="javascript:void(0)" class="danger" data-id="<%- data.id %>" >删除</a>
                    </div>
                <%})%>
            <div class="row">
        </div>
    </div>
</div>