<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="h-row">
                <% workList.forEach(function(value){ %>
                <div class="h-col-6">
                    <a class="block-list" href="/works/workDetail/<%= value._id %>">
                        <h1 title="<%= value.title %>"><%= value.title %></h1>
                        <img src="<%= value.cover_url %>" alt="">
                        <p>作者：<%= value.author %></p>
                        <p>创建时间：<%=moment(value.create_at).format('YYYY-MM-DD h:mm:ss') %></p>
                    </a>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>

<% include ../common/foot %>
<script type="text/javascript" src="/plugins/bootstrap.js"></script>
