<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="h-row">
                <div class="h-col-9">
                    <div class="h-doc-section">
                        <h1><%= workInfo.title%></h1>
                        <!--<h3 style="text-align: center;">作者：<%=  workInfo.author%>&nbsp;&nbsp;&nbsp;创建时间：<%= moment(workInfo.create_at).format('YYYY-MM-DD h:mm:ss') %></h3>-->
                        <div class="h-row">
                            <div class="h-col-12">
                                <div class="h-doc-section">
                                    <%- content %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-sidebar">
                        <ul class="nav h-sidenav">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="h-row">
                <div class="h-col-9 js-comment-block">
                    <p class="box-title">评论</p>
                    <div class="comment-box">
                        <div class="comment-form clearfix">
                            <div class="avatar">
                                <%# 显示使用的都是默认的头像 %>
                                <img src="/src/image/default-avatar.svg" alt="">
                            </div>
                            <textarea class="content-input" placeholder="说说你的看法"></textarea>
                            <div class="submit-action">
                                <button class="btn-submit">评论</button>
                            </div>
                        </div>
                    </div>
                    <ul class="comment-list">
                        <%# 对于评论按时间排序 %>
                        <% for(var i= workInfo.reply.length-1; i >= 0; i--){ %>
                            <li class="item clearfix">
                                <div class="avatar">
                                    <img src="/src/image/default-avatar.svg" alt="">
                                </div>
                                <div class="content-box">
                                    <h6 class="username"><%= workInfo.reply[i].replyer %></h6>
                                    <div class="content">
                                        <p class="content-text">
                                            <% if(workInfo.reply[i].replyTo){ %>
                                                回复<span class="username">@ <%= workInfo.reply[i].replyTo %></span>
                                            <% } %>
                                            <%= workInfo.reply[i].content%>
                                        </p>
                                    </div>
                                    <div class="footer">
                                        <button class="reply-btn">回复</button>
                                        <%# 超过2天的评论显示时间戳 %>
                                        <% if(new Date().getTime() -new Date(workInfo.reply[i].reply_time).getTime() > 172800000){ %>
                                            <sapn class="reply-date"><%=  moment(workInfo.reply[i].reply_time).format('YYYY-MM-DD') %></sapn>
                                        <%}else{%>
                                            <sapn class="reply-date"><%=  moment(workInfo.reply[i].reply_time).fromNow() %></sapn>
                                        <% }%>
                                    </div>

                                </div>
                            </li>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>

<% include ../common/foot %>
<script type="text/javascript" src="/plugins/bootstrap.js"></script>
<script type="text/javascript" src="/src/js/work.js"></script>
