<% include ../common/head.ejs %>
<div class="h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-block">
        <div class="h-container">
            <!--内容部分-->
            <!--<div class="clearfix">-->
                <!--<input type="text" placeholder="Search..." class="search">-->
            <!--</div>-->
        </div>
    </div>
    <div class="h-block">
        <div class="h-container clearfix">
            <% iconTypes.forEach(function(iconType){ %>
            <div class="h-col-6">
                <div class="block-collection">
                    <h4 class="block-collection-title">
                        <span><a href="iconfont/type/<%= iconType.id %>"><%= iconType.name %></a></span>
                        <!--<i class="total-num"><a href="<%= iconType.attachment_url %>">下载</a></i>-->
                    </h4>
                    <div class="icons-container">
                        <ul class="clearfix">
                            <% icons.forEach(function(icon, index){ %>
                                <% if(icon.collection_id == iconType.id && index < 21) { %>
                                <li>
                                    <img src=<%- icon.url %> alt="">
                                    <h5><%- icon.name %></h5>
                                </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>