<% include ../common/head.ejs %>
<div class="h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-block">
        <div class="h-container">
            <div class="h-search clearfix">
                <input type="text" class="pull-right" placeholder="图标名称/类型...">
                <i class="icon-search h-search-icon"></i>
            </div>
            <div class="h-row">
            <% iconTypes.forEach(function(iconType){ %>
            <div class="h-col-6">
                <a class="block-collection" href="iconfont/type/<%= iconType.id %>">
                    <h4 class="block-collection-title">
                        <span><%= iconType.name %></span>
                        <!--<i class="total-num"><a href="<%= iconType.attachment_url %>">下载</a></i>-->
                    </h4>
                    <div class="icons-container">
                        <ul class="clearfix">
                            <% var num = 0;icons.forEach(function(icon, index){ %>
                                <% if(icon.collection_id == iconType.id && num < 16) { num ++ %>
                                <li>
                                    <img src=<%- icon.url %> alt="">
                                    <h5><%- icon.name %></h5>
                                </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>
                </a>
            </div>
            <% }) %>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>