<% include ../common/head.ejs %>
<div class="h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <ul class="h-tag clearfix">
        <li><a href="/resource/uikit">UIKIT</a></li>
        <li><a class="active" href="/resource/iconfont">ICONFONT</a></li>
        <li><a href="/resource/coloricon">彩色图标</a></li>
    </ul>
    <div class="h-block">
        <div class="h-container">
            <!--内容部分-->
            <div class="clearfix">
                <input type="text" placeholder="Search..." class="search">
            </div>
        </div>
    </div>
    <div class="h-block">
        <div class="h-container clearfix">
            <% iconTypes.forEach(function(iconType){ %>
                <div class="h-col-6">
                    <div class="block-collection" data-typeid="<%= iconType.id%>">
                        <h4 class="block-collection-title">
                            <span><a href="iconfont/detail/<%= iconType.id%>"><%= iconType.name %></a></span>
                            <i class="total-num">20</i>
                        </h4>
                        <div class="icons-container">
                            <ul class="clearfix">
                                <% icons.forEach(function(icon, index){ %>
                                    <% if(icon.type == iconType.id && index < 21) {%>
                                    <li>
                                        <a href="iconfont/detail/<%= icon.id%>"><img src=<%- icon.svgfile %> alt=""></a>
                                    </li>
                                    <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>