<% include ../common/head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-section  bg-lightgray">
        <!--内容部分-->
        <div class="h-container">
            <ul class="h-row">
                <% data.forEach(function(item){ %>
                <li class="h-col-4">
                    <div class="h-panel h-panel-edge">
                        <div class="h-panel-body">
                            <div class="h-listbox-img">
                                <a href="/resource/uikit/detail/<%= item._id %>">
                                    <img src="<%= item.cover_img_url %>">
                                </a>
                            </div>
                        </div>
                        <div class="h-panel-header clearfix">
                            <div class="h-panel-title pull-left">
                                <a href="/resource/uikit/detail/<%= item._id %>"><%= item.title %></a>
                            </div>
                            <span class="update-date pull-right"><%= moment(item.update_date).format('YYYY-MM-DD') %></span>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <% if(totalPage > 1){ %>
            <div class="h-page">
                <div class="page-btn page-pre">
                    <% if(pageNo === 1){ %>
                    <i class="icon-angle-left"></i>
                    <% }else{ %>
                    <a href="/resource/uikit?page=<%= pageNo - 1 %>"><i class="icon-angle-left"></i></a>
                    <% } %>
                </div>
                <div class="page-btn page-next">
                    <% if(pageNo === totalPage){ %>
                    <i class="icon-angle-right"></i>
                    <% }else{ %>
                    <a href="/resource/uikit?page=<%= pageNo + 1 %>"><i class="icon-angle-right"></i></a>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>