<div id="IconManage" class="container">
    <ol class="breadcrumb">
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/#iconManage">iconManage</a></li>
        <li>图标添加/修改</li>
    </ol>
    <div class="btn-group">
        <button class="btn btn-primary btn-upload" id="iconUpload" type="button">保存</button>
    </div>
    <form class="h-middle w400" id="iconUploadForm" method="post" enctype="multipart/form-data">
        <% var obj = (resource.length > 0) ? resource[0] : {} %>
        <input type="hidden" name="_id" value="<%- obj._id %>" />
        <div class="form-group">
            <label>name:</label>
            <input type="text" class="form-control" placeholder="Name" name="name" value="<%- obj.name %>">
        </div>
        <div class="form-group">
            <label>fileType:</label>
            <select id="fileType" class="form-control" name="fileType" value="<%- obj.fileType %>">
                <option value="0" <%if(obj.fileType==0){%>selected<%}%>>svg</option>
                <option value="1" <%if(obj.fileType==1){%>selected<%}%>>png</option>
                <option value="2" <%if(obj.fileType==2){%>selected<%}%>>psd</option>
                <option value="3" <%if(obj.fileType==3){%>selected<%}%>>zip</option>
            </select>
        </div>
        <div class="form-group">
            <label>相关链接</label>
            <input type="text" name="otherLink" class="form-control" value="<%- obj.otherLink %>">
        </div>
        <div class="form-group">
            <label>类型</label>
            <select name="collection" value="<%- obj.type %>" class="form-control">
                <% fileTypes.forEach(function(data){ %>
                    <option
                            value="<%- data.id %>"
                            data-type="<%- data.fileType %>"
                    <% if(obj.fileType != data.fileType){%> style="display:none;" <%}%>
                    <% if(obj.type==data.id){ %> selected <% } %>
                    ><%- data.name %></option>
                <%})%>
            </select>
        </div>
        <div class="form-group">
            <label>标签</label>
            <textarea name="tags" class="form-control"><%- obj.tags %></textarea>
        </div>
        <div class="form-group js-svg-space">
            <label>svg upload:</label>
            <input id="svg_upload" data-function="file_upload" name="iconFile" data-type="svg" type="file" data-url="/admin/fileUpload" multiple="multiple">
        </div>
        <div class="form-group js-svg-space">
            <label>svg:</label>
            <input type="text" name="svgfile" value="<%- obj.svgfile %>" class="form-control" readonly>
            <img src="<%- obj.svgfile %>" id="svgimg">
        </div>
        <div class="form-group js-png-space">
            <label>png upload</label>
            <input id="png_upload" data-function="file_upload" name="iconFile" data-type="png" type="file" data-url="/admin/fileUpload" multiple="multiple">
        </div>
        <div class="form-group js-png-space">
            <label>png:</label>
            <input type="text" name="pngfile" value="<%- obj.pngfile %>" class="form-control" readonly>
            <img src="<%- obj.pngfile %>" id="pngimg">
        </div>
        <div class="form-group js-psd-space">
            <label>psd upload</label><input id="png_upload" data-function="file_upload" name="iconFile" data-type="psd" type="file" data-url="/admin/fileUpload" multiple="multiple">
        </div>
        <div class="form-group js-psd-space">
            <label>psd downLoad : </label><a id="psdfile" href="<%- obj.psdfile %>"><%- obj.psdfile %></a>
        </div>
        <div class="form-group js-zip-space">
            <label>zip上传</label><input id="png_upload" data-function="file_upload" name="iconFile" data-type="zip" type="file" data-url="/admin/fileUpload" multiple="multiple">
        </div>
        <div class="form-group js-zip-space">
            <label>zip download : </label><a id="zipfile" href="<%- obj.zipfile %>"><%- obj.zipfile %></a>
        </div>

    </form>
</div>